<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" type="image/png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Valentyn Mirosh.
         It uses data from <i>mapbox.com</i> and <i>weatherstack.com !</i></p>
        <img class="portrait" src="/img/vlnt.jpg">
    </div>
    
    {{>footer}}
</body>

</html>